<div class="intro">
  <app-header></app-header>
  <div>
    <div class="mission centre">
      <h2 class="headings color-white ">Our Mission</h2>
      <div class="texts md-margin--top color-white">
        The mission of xyz.com Company is to entertain, inform and inspire people around the globe through the
        power of unparalleled storytelling, reflecting the iconic brands, creative minds and innovative technologies
        that
        make ours the world’s premier entertainment company.
      </div>
    </div>
  </div>
</div>
<div class="leadership">
  <div class="mission centre">
    <h2 class="headings color-black ">Executive Leadership</h2>
    <div class="texts md-margin--top color-black">
      Our senior executives bring tremendous experience, visionary thinking and a shared commitment to excellence,
      creativity and innovation to the day to day operation of the company.
    </div>
  </div>
</div>
<div class="leadership">
  <div class="flex-4">
    <div class="cols1">
      <div class="feature-box">

        <div class="circle">
          <img src="../../assets/images/tom.jpg" alt="" class="circular--square">
        </div>
        <div style="margin-top:9rem">
          <a class="name">Tom Barkly</a>
          <a class="desc">Executive Chairman</a>
        </div>

      </div>

    </div>
    <div class="cols2">

      <div class="feature-box">
        <div class="circle">
          <img src="../../assets/images/downey.jpg" alt="" class="circular--square">
        </div>
        <div style="margin-top:9rem">
          <a class="name">Tim John</a>
          <a class="desc">Chief Executive Officer</a>
        </div>
      </div>

    </div>
    <div class="cols3">
      <div class="feature-box">
        <div class="circle">
          <img src="../../assets/images/bale.jpg" alt="" class="circular--square">
        </div>
        <div style="margin-top:9rem">
          <a class="name">Christian paul</a>
          <a class="desc">Chairman</a>
        </div>
      </div>
    </div>
    <div class="cols4">
      <div class="feature-box">
        <div class="circle">
          <img src="../../assets/images/will.jpg" alt="" class="circular--square">
        </div>
        <div style="margin-top:9rem">
          <a class="name">Tim John</a>
          <a class="desc">Senior Executive Vice President</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="business">
  <div class="mission centre">
    <h2 class="headings color-black">Our Business</h2>
    <div class="texts md-margin--top color-black">
      The xyz.com company, together with its subsidiaries and affiliates, is a leading diversified international family
      entertainment and media enterprise that includes xyz.com Parks, Experiences and Products; xyz.com Media &
      Entertainment Distribution; and three content groups—Studios, General Entertainment and Sports—focused on
      developing and producing content for DTC, theatrical and linear platforms.
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-login></app-login>
