<div class="footer">
  <!-- <div class="centre">
    <img src="../../../assets/logos/xyz_logo.png" class="logo-foot" />
  </div> -->
  <div class="md-paddingright md-paddingleft">

    <div class="flex4">
      <div class="cols1">

        <ul class="footerlist">
          <li>
            Audio and Subtitles
          </li>
          <li>
            Media Centre
          </li>
          <li>
            Privacy
          </li>
          <li>
            Contact Us
          </li>
        </ul>
      </div>
      <div class="cols2">
        <ul class="footerlist">
          <li>
            Audio Description
          </li>
          <li>
            Investor Relation
          </li>
          <li>
            Legal Notices
          </li>
        </ul>
      </div>
      <div class="cols3">
        <ul class="footerlist">
          <li>
            Help Centre
          </li>
          <li>
            Jobs
          </li>
          <li>
            Cookie Preferences
          </li>
        </ul>
      </div>
      <div class="cols4">
        <ul class="footerlist">
          <li>
            Gift Cards
          </li>
          <li>
            Terms of Use
          </li>
          <li>
            Corporate Information
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex-2">
    <div class="cols1">
      <div style="position: relative;">
        <a class="copyright">
          © 2021 xyz.com. All Rights Reserved. xyz media, xyz.com and all related channel and programming logos are
          service
          marks
          of, and all related programming visuals and elements are the property of, xyz, Inc. All rights reserved.
        </a>
      </div>
    </div>
    <div class="cols2">
      <div style="text-align: end;">
        <fa-icon [icon]="['fab','facebook']"
          [styles]="{'min-height':'30px', 'min-width':'30px','cursor':'pointer','color':'#1BB6E8','margin-left':'1rem','margin-right':'1rem'}">
        </fa-icon>
        <fa-icon [icon]="['fab','instagram']"
          [styles]="{'min-height':'30px', 'min-width':'30px','cursor':'pointer','color':'#1BB6E8','margin-left':'1rem','margin-right':'1rem'}">
        </fa-icon>
        <fa-icon [icon]="['fab','twitter']"
          [styles]="{'min-height':'30px', 'min-width':'30px','cursor':'pointer','color':'#1BB6E8','margin-left':'1rem','margin-right':'1rem'}">
        </fa-icon>
        <fa-icon [icon]="['fab','youtube']"
          [styles]="{'min-height':'30px', 'min-width':'30px','cursor':'pointer','color':'#1BB6E8','margin-left':'1rem','margin-right':'1rem'}">
        </fa-icon>
      </div>
    </div>
  </div>



</div>
